<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love it or Leave it</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/love-it/foods">Love it foods</a>
        <a href="/love-it/animals">Love it animals</a>
        <a href="/leave-it/movies">Leave it movies</a>
        <a href="/leave-it/products">Leave it products</a>
    </nav>
    <%- body %>
</body>
</html>